<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<center>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<form action="/" , method="POST">
	<input type="text" name="author" placeholder="Author">
	<br>
	<input type="text" name="quote" placeholder="Quote">
	<br>
	<input type="text" name="age" placeholder="Age">
	<br>
	<input type="submit" value="submit">
</form>
</center>
 
</body>
</html>